---
// src/pages/tags/[tag].astro
import BaseLayout from '../layouts/BaseLayout.astro';
import WallpaperComponent from '../components/WallpaperComponent.svelte';
import tags from '../data/tags.json';

export async function getStaticPaths() {
    return tags.map((tag) => ({
        params: { tag },
    }));
}

// Get the tag from the route parameter
const { tag } = Astro.params;
---

<head>
    <title>{tag[0].toUpperCase() + tag.slice(1)}</title>
</head>

<BaseLayout>
    <h1 class='text-5xl font-bold p-5 pt-8 text-center'>
        {tag[0].toUpperCase() + tag.slice(1)} Wallpapers
    </h1>
    <WallpaperComponent client:only {tag} />
</BaseLayout>
