---
import "../styles/app.css";
---
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <title>Wallpaper Gallery</title>
  </head>
  <body class="bg-background overflow-y-scroll antialiased">
    <slot />
  </body>
</html>

